.idea
out/

.github/PULL_REQUEST_TEMPLATE

# Editor-based Rest Client
.idea/httpRequests
### Gradle template
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

/.idea/
/.gradle/
/.settings/

/bin/
/build/
/data/
/out/
/temp/
/tmp/

hs_err_pid*

.metadata
*.iml
local.properties

/src/*/java/**/classDiagram.png
/src/*/java/**/classDiagram.svg
/src/*/scenarios/**/*.html
/src/*/scenarios/**/*.png
/src/*/scenarios/**/*.svg
/src/*/scenarios/**/*.txt
/src/*/scenarios/**/*.yaml

/src/main/resources/data/*.sqlite