.button {
    -fx-font-size: 15;
}

.label {
    -fx-font-size: 15;
}

.tooltip {
    -fx-font-size: 15;
}

.listView2  > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-font-size: 15;
}

.tree-cell {
    -fx-font-size: 15;
}