.button {
    -fx-font-size: 10;
}

.label {
    -fx-font-size: 10;
}

.tooltip {
    -fx-font-size: 10;
}

.listView2 > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-font-size: 10;
}

.tree-cell {
    -fx-font-size: 10;
}

.menu {
    -fx-font-size: 10;
}

.radio-button {
    -fx-font-size: 10;
}