.login-linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #d9d9d9, #2f3136);
}

.login-button-signIn {
    -fx-background-color: #431FA0;
    -fx-text-fill: #ffffff;
}

.login-button-signUp {
    -fx-background-color: #431FA0;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-border-color: #008000;
    -fx-border-radius: 5;
}

.second-button{
    -fx-text-fill: #a1a1a1;
    -fx-border-color: #a1a1a1;
    -fx-background-color: #2f3136;
}

.root {
    -fx-base: #3f474f;
    -fx-accent: #e7eff7;
    -fx-default-button: #7f878f;
    -fx-focus-color: #efefef;
    -fx-faint-focus-color: #efefef22;
    -fx-background-color: #3e3e3e;
    -fx-focused-text-base-color: ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color: -fx-focused-text-base-color;
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
}


.styleBackgroundHighlight {
    -fx-background-color: #212121
}

.styleButton {
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-background-color: #2f3136;
}

.redLabel {
    -fx-text-fill: #FF603D
}

.error {
    -fx-border-color: #FF603D;
    -fx-border-width: 2px;
}

.listViewUserOnline {
    -fx-border-color: #008000
}

.listViewUserOffline {
    -fx-border-color: #ff0000
}

.newMessage {
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(127, 0, 0, 0.5);
    -fx-border-color: rgba(255, 0, 0, 0.75);
}

.redPromptText {
    -fx-prompt-text-fill:  #000000;
    -fx-background-color: rgba(255, 0, 0, 0.75);
}

.descBox{
    -fx-border-color: lightgrey;
    -fx-padding: 5,100,5,0;
    -fx-border-radius: 3;
    -fx-font-size: 12pt;
    -fx-text-fill: lightblue;
}

.color0 {
    -fx-text-fill: #2befed;
}

.color1 {
    -fx-text-fill: #00ff4e;
}

.color2 {
    -fx-text-fill: #f6fc2d;
}

.color3 {
    -fx-text-fill: #ff0049;
}

.color4 {
    -fx-text-fill: #ff38d1;
}

.white {
    -fx-text-fill: #dcddde;
}

.text {
    -fx-text-fill: #dcddde;
}

.date {
    -fx-text-fill: #dcddde;
    -fx-font-size: 10;
}

.link{
    -fx-text-fill: #dcddde;
}

.font_size {
    -fx-font-size: 7pt ;
}

/* new */
.list-view {
    -fx-background-color: #2C2F33;
    -fx-border-color: transparent;
}

.listView1{
    -fx-background-color: #36393f;
    -fx-border-color: transparent;
}

.listViewServer > .virtual-flow> .clipped-container > .sheet > .list-cell{
    -fx-background-color: #212121;
    -fx-border-color: transparent;
}

.listViewServer {
    -fx-background-color: #212121;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-text-fill: #dcddde ;
    -fx-background-color: #2f3136;
    -fx-border-color: transparent;
}

.tree-cell {
    -fx-text-fill: #dcddde ;
    -fx-background-color: #2f3136;
    -fx-border-color: transparent;
    -fx-collapsible: #dcddde;
}

.tree-view {
    -fx-background-color: #2C2F33;
}

.tree-view > .virtual-flow> .clipped-container > .sheet > .tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: #dcddde;
}

.text-field {
    -fx-text-fill: #ffffff ;
    -fx-background-color: #40444b;
    -fx-prompt-text-fill: #cccccc;
}

.item-selected {
    -fx-background-color: #4a4a4a;
}
.styleTop {
    -fx-background-color: #4a4a4a;
}

.styleBackgroundPopup {
    -fx-background-color: #2f3136;
}

.sidebar-Button {
    -fx-background-color: transparent;
}

.sidebar-Button:hover {
    -fx-background-color: #2f3136;
}

.styleBackgroundAudio {
    -fx-background-color: #232529;
}

.playButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: #2f3136;
}

.audioLabel {
    -fx-text-fill: #ffffff;
}

.marked_message{
    -fx-background-color: #49443c;
}

.marked_message:hover{
    -fx-background-color: #46423c;
}
.logoutButton {
    -fx-background-color: #232529;
}

.createTextField {
    -fx-text-fill: #ffffff ;
    -fx-background-color: #40444b;
    -fx-prompt-text-fill: #cccccc;
}

.textAreaInput {
    -rtfx-text-fill: #ffffff;
    -fx-fill: #ffffff ;
    -fx-background-color: #40444b;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.serverCircle {
    -fx-fill: #ffffff;
}

.serverCircleText{
    -fx-text-fill: #000000;
}


.serverCircleText:cell-selection {
    -fx-text-fill: #ffffff;
}

.serverCircleSelected {
    -fx-fill: #9e9e9e;
}

.serverCircleTextSelected {
    -fx-text-fill: #ffffff;
}

.styleTopMenu {
    -fx-font-size:8;
    -fx-border-color: #4a4a4a;
    -fx-background-color: #4a4a4a;
    -fx-padding :0 0 0 10;
}


.pbRed {
    -fx-accent: rgba(165, 0, 0, 0.5);
}

.pbGreen{
    -fx-accent: rgba(39, 115, 0, 0.5);
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-text-box-border: transparent;
}

.reference{
    -fx-background-color: #414675;
}

.reference:hover{
    -fx-background-color: #5865f2;
}

.button-selected {
    -fx-background-color: #2f3136;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: rgba(0, 14, 44, 0.75);
}

.LanguageBox{
    -fx-border-color: black;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-padding: 3,3,3,3;
    -fx-spacing: 200;
}