.root {
    -fx-base: #3f474f;
    -fx-accent: #e7eff7;
    -fx-default-button: #7f878f;
    -fx-focus-color: #efefef;
    -fx-faint-focus-color: #efefef22;
    -fx-background-color: #3e3e3e;
    -fx-focused-text-base-color: ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color: -fx-focused-text-base-color;
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
}


.styleBackgroundHighlight {
    -fx-background-color: #07060E
}

.styleButton {
    -fx-background-color: transparent;
    -fx-text-fill: #525252
}

.redLabel {
    -fx-text-fill: #FF603D
}

.error {
    -fx-border-color: #FF603D;
    -fx-border-width: 2px;
}

.listViewUserOnline {
    -fx-border-color: #008000
}

.listViewUserOffline {
    -fx-border-color: #ff0000
}

.newMessage {
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(127, 0, 0, 0.5);
    -fx-border-color: rgba(255, 0, 0, 0.75);
}

.redPromptText {
    -fx-prompt-text-fill: "BLACK";
    -fx-background-color: rgba(255, 0, 0, 0.75);
}

.descBox{
    -fx-border-color: lightgrey;
    -fx-padding: 5,100,5,0;
    -fx-border-radius: 3;
    -fx-font-size: 12pt;
    -fx-text-fill: lightblue;
}

.colorX {
    -fx-text-fill: yellow lime cyan;
}

.color0 {
    -fx-text-fill: #2befed;
}

.color1 {
    -fx-text-fill: #00ff4e;
}

.color2 {
    -fx-text-fill: #f6fc2d;
}

.color3 {
    -fx-text-fill: #ff0049;
}

.color4 {
    -fx-text-fill: #ff38d1;
}

.white {
    -fx-text-fill: #dcddde;
}

.text {
    -fx-text-fill: #dcddde;
}

.date {
    -fx-text-fill: #dcddde;
    -fx-font-size: 10;
}

.link{
    -fx-text-fill: #dcddde;
}

.font_size {
    -fx-font-size: 7pt ;
}

/* new */
.list-view{
    -fx-background-color: #2C2F33;
    -fx-border-color: transparent;
}

.listView1{
    -fx-background-color: #36393f;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-text-fill: #dcddde ;
    -fx-background-color: #2f3136;
    -fx-border-color: transparent;
}
.tree-cell {
    -fx-text-fill: #dcddde ;
    -fx-background-color: #2f3136;
    -fx-border-color: transparent;
    -fx-collapsible: #dcddde;
}

.tree-view {
    -fx-background-color: #2C2F33;
}

.tree-view > .virtual-flow> .clipped-container > .sheet > .tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: #dcddde;
}

.text-field {
    -fx-text-fill: #40444b ;
    -fx-background-color: #40444b;
    -fx-prompt-text-fill: #dcddde;
}
