.root {
    -fx-base: #e5e5e5;
    -fx-accent: #56565c;
    -fx-default-button: #c4d6db;
    -fx-focus-color: #656565;
    -fx-faint-focus-color: #efefef;
    -fx-background-color: #efefef;
    -fx-focused-text-base-color: ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color: -fx-focused-text-base-color;
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
}

.styleBorder {
    -fx-border-color: #3c3f41
}

.styleBackgroundHighlight {
    -fx-background-color: #F5F5DC
}

.styleButton {
    -fx-background-color: #5f5599;
    -fx-text-fill: #FFFFFF
}

.redLabel {
    -fx-text-fill:"RED"
}

.error {
    -fx-border-color: #ff0000 ;
    -fx-border-width: 2px;
}