.root {
    -fx-base: #e5e5e5;
    -fx-accent: #56565c;
    -fx-default-button: #c4d6db;
    -fx-focus-color: #656565;
    -fx-faint-focus-color: #efefef;
    -fx-background-color: #efefef;
    -fx-focused-text-base-color: ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color: -fx-focused-text-base-color;
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
}

.styleBorder {
    -fx-border-color: #3c3f41
}

.styleBackgroundHighlight {
    -fx-background-color: #F5F5DC
}

.styleButton {
    -fx-background-color: #5f5599;
    -fx-text-fill: #FFFFFF
}

.redLabel {
    -fx-text-fill: "RED"
}

.error {
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
}

.listViewUserOnline {
    -fx-border-color: #008000
}

.listViewUserOffline {
    -fx-border-color: #ff0000
}

.newMessage {
    -fx-text-fill: #000000;
    -fx-background-color: rgba(255, 0, 0, 0.75);
    -fx-border-color: rgba(127, 0, 0, 0.5);
}

.redPromptText {
    -fx-prompt-text-fill: "BLACK";
    -fx-background-color: rgba(255, 0, 0, 0.75);
}

.descBox{
    -fx-border-color: darkgray;
    -fx-padding: 5,100,5,0;
    -fx-border-radius: 3;
    -fx-font-size: 12pt;
    -fx-text-fill: blue;
}

.colorX {
    -fx-text-fill: darkgreen indigo darkblue;
}

.color0 {
    -fx-text-fill: #0a4b78;
}

.color1 {
    -fx-text-fill: #005c12;
}

.color2 {
    -fx-text-fill: #755100;
}

.color3 {
    -fx-text-fill: #8a2424;
}

.color4 {
    -fx-text-fill: indigo;
}

.white {
    -fx-text-fill: #ADD8e6;
}

.text {
    -fx-text-fill: #000000;
}

.date {
    -fx-text-fill: #000000;
    -fx-font-size: 10;
}

.link{
    -fx-text-fill: #ADD8e6;
}

.font_size {
    -fx-font-size: 7pt ;
}

.marked_message{
    -fx-background-color: #F7FE2E;
}