.root {
    -fx-base: #e5e5e5;
    -fx-accent: #56565c;
    -fx-default-button: #c4d6db;
    -fx-focus-color: #656565;
    -fx-faint-focus-color: #efefef;
    -fx-background-color: #efefef;
    -fx-focused-text-base-color: ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color: -fx-focused-text-base-color;
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
}

.styleBackgroundHighlight {
    -fx-background-color: #212121
}

.styleButton {
    -fx-background-color: #f2f3f5;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
}

.redLabel {
    -fx-text-fill: #ff0000
}

.error {
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
}

.listViewUserOnline {
    -fx-border-color: #008000
}

.listViewUserOffline {
    -fx-border-color: #ff0000
}

.newMessage {
    -fx-text-fill: #000000;
    -fx-background-color: rgba(255, 0, 0, 0.75);
    -fx-border-color: rgba(127, 0, 0, 0.5);
}

.redPromptText {
    -fx-prompt-text-fill: #000000;
    -fx-background-color: rgba(255, 0, 0, 0.75);
}

.descBox{
    -fx-border-color: darkgray;
    -fx-padding: 5,100,5,0;
    -fx-border-radius: 3;
    -fx-font-size: 12pt;
    -fx-text-fill: blue;
}

.color0 {
    -fx-text-fill: #0a4b78;
}

.color1 {
    -fx-text-fill: #005c12;
}

.color2 {
    -fx-text-fill: #755100;
}

.color3 {
    -fx-text-fill: #8a2424;
}

.color4 {
    -fx-text-fill: indigo;
}

.white {
    -fx-text-fill: #ADD8e6;
}

.text {
    -fx-text-fill: #000000;
}

.date {
    -fx-text-fill: #000000;
    -fx-font-size: 10;
}

.link{
    -fx-text-fill: #ADD8e6;
}

.font_size {
    -fx-font-size: 7pt ;
}

/* new */
.list-view{
    -fx-background-color: #f2f3f5;
    -fx-border-color: transparent;
}

.listView1{
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
}


.listViewServer > .virtual-flow> .clipped-container > .sheet > .list-cell{
    -fx-background-color: #212121;
    -fx-border-color: transparent;
}

.listViewServer {
    -fx-background-color: #212121;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-text-fill: #000000 ;
    -fx-background-color: #f2f3f5;
    -fx-border-color: transparent;
}
.tree-cell {
    -fx-text-fill: #000000 ;
    -fx-background-color: #f2f3f5;
    -fx-border-color: transparent;
    -fx-collapsible: #000000;
}

.tree-view {
    -fx-background-color: #f2f3f5;
}

.tree-view > .virtual-flow> .clipped-container > .sheet > .tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: #000000;
}

.text-field {
    -fx-text-fill: #000000 ;
    -fx-background-color: #40444b;
    -fx-prompt-text-fill: #dcddde;
}

.createTextField {
    -fx-text-fill: #000000 ;
    -fx-background-color: #ebebeb;
    -fx-prompt-text-fill: #808080;

}

.textAreaInput {
    -fx-text-fill: #000000 ;
    -fx-background-color: #ebebeb;
    -fx-prompt-text-fill: #808080;

}

.item-selected {
    -fx-background-color: #d9d9d9;
}

.styleTop {
    -fx-background-color: #d9d9d9;
}

.styleBackgroundPopup {
    -fx-background-color: #d9d9d9;
}

.sidebar-Button {
    -fx-background-color: transparent;
}

.sidebar-Button:hover {
    -fx-background-color: #2f3136;
}

.styleBackgroundAudio {
    -fx-background-color: #232529;
}

.playButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: #2f3136;
}

.audioLabel {
    -fx-text-fill: #ffffff;
}

.marked_message{
    -fx-background-color: #fef6e8;
}

.marked_message:hover{
    -fx-background-color: #feeed1;
}

.logoutButton {
    -fx-background-color: #232529;
}


.login-linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #d9d9d9, #2f3136);
}

.login-button-signIn {
    -fx-background-color: #431FA0;
    -fx-text-fill: #ffffff;
}

.login-button-signUp {
    -fx-background-color: #431FA0;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-border-color: #008000;
    -fx-border-radius: 5;
}

.second-button{
    -fx-text-fill: #636363;
    -fx-border-color: #636363;
    -fx-background-color: #ffffff;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.serverCircle {
    -fx-fill: #ffffff;
}

.serverCircleText{
    -fx-text-fill: #000000;
}

.serverCircleSelected {
    -fx-fill: #123456;
    -fx-border-radius: 3;
    -fx-border-color: #000000;
}

.serverCircleTextSelected {
    -fx-text-fill: #ffffff;
}